*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(235, 21%, 11%);
    color: hsl(220, 98%, 61%);
    Font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.hero{
    background-image: url(../assets/bg-desktop-dark.jpg);
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 2.8em;
    height: 300px;
    width: 100%;
}

.hero__container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1440px;
}

.hero:before {
    content: "";
    width: 100%;
    min-height: 250px;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    opacity: 0.1;
}

.hero__title{
    font-weight: 500;
    letter-spacing: 0.3cm;
    text-transform: uppercase;
    z-index: 1;
}

.hero__img{
    cursor: pointer;
    height: 25px;
    width: 25px;
    z-index: 1;
}

 /* ********************************************** 
 Estilos para el input 
 **********************************************  */

.principal{
    background-color: blue;
    width: 100%;
}
article{
    margin: 0 auto;
    max-width: 1440px;
}

.form{
    background-color: transparent;
    height: 30%;
    text-align: center;
}

form {
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    width: 100%;
    max-width: 1440px;
}

.btn{
    background-color:transparent;
    border: none;
    border-radius: 50%;
    color: hsl(233, 14%, 35%);
    cursor: pointer;
    font-size: 1.5em;
    padding: 0 .5em;
    margin-right: 1em;
    position: absolute;
    
    bottom: 0;
    top: 0.5em;
    z-index: 1;

}

input {
    background-color: hsl(237, 14%, 26%);
    border: none;
    border-radius: .3em;
    color: hsl(234, 39%, 85%);
    font-size: 1em;
    font-weight: 300;
    height: 2.7em;
    margin-top: 1em;
    outline: none;
    padding: 0 2em;
    width: 33em;
    z-index: 1;
}


.list{
    background-color: aliceblue;
}

.todo{
    padding: 1em;
}