*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(235, 21%, 11%);
    color: hsl(220, 98%, 61%);
    Font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}

.hero{
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 4em;
    position: relative;
    height: 290px;
    width: 100%;
}

.hero__dark{
   background-image: url(../assets/bg-desktop-dark.jpg);
}

.hero__container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1440px;
}

.hero:before {
    content: "";
    width: 100%;
    min-height: 300px;
    min-height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 290px;
    min-height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    opacity: 0.01;
}

.hero__title{
    font-weight: 600;
    letter-spacing: 0.3cm;
    text-transform: uppercase;
    z-index: 1;
}

.hero__img{
    cursor: pointer;
    height: 25px;
    width: 25px;
    z-index: 1;
}

 /* ********************************************** 
 Estilos para el input 
 **********************************************  */

.form{
    background-color: transparent;
    height: 30%;
    text-align: center;
}

form {
    background-color: transparent;
    border-radius: .3em;
    position: relative;
}

.btn{
    background-color:transparent;
    border: 1px solid hsl(237, 14%, 26%);
    border-radius: 50%;
    cursor: pointer;
    height: 2.1em;
    width: 2.1em;
    margin-left: 2em;
    position: absolute;
    top: 4em;
    z-index: 1;
}

input {
    background-color: hsl(235, 24%, 19%);
    border: none;
    border-radius: .3em;
    color: hsl(234, 39%, 85%);
    font-size: 1em;
    font-weight: 300;
    height: 3.3em;
    margin-top: 2em;
    outline: none;
    padding: 0 4em;
    width: 33em;
    z-index: 1;
}

/* **************************************************
Estilos del main
************************************************** */

.principal{
    display: flex;
    justify-content: center;
    height: 30em;
    width: 100%;
}

.todo {
    background-color: hsl(235, 24%, 19%);
    border-radius: .3em;
    position: absolute;
    top: 13em;
    margin-bottom: 5em;
}

.todo__container{
    background-color: hsl(235, 24%, 19%);
    border-radius: .3em .3em 0 0;
    border-bottom: .1em solid hsl(237, 14%, 26%);
    list-style: none;
    padding: 1.1em;
    width: 33em;
    height: 4em;
}


.todo__info{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;
}

a{
    text-decoration: none;
    color: hsl(233, 14%, 35%);
}

.actions__item{
    margin-right: 1em;
}

.icono__check{
    background: transparent;
    border: none;
    border-radius: 50%;
    border: .01em solid hsl(237, 14%, 26%);
    font-size: 1.5em;
    line-height: 0.2em;
    margin-left: .3em;
    padding: 0.3em;
    height: 1em;
    width: 1em;
}

.icono__check:hover{
    border: 1px solid hsl(280, 87%, 65%);
    cursor: pointer;
}

.check__fill{
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
} 

.text__through{
    text-decoration: line-through;
}

.image__none{
    display: none;
}
.image-block {
    display: block;
} 
/* .active{
    background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}  */

.todo__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.todo__item{
   display: flex;
   align-items: center;
}

.todo__text{
    margin-left: 1em;   
    color: hsla(234, 39%, 85%, 0.795);
    font-weight: 400;
}

.todo__text:hover{
    color: hsl(236, 33%, 92%);
    cursor: pointer;
}

.icono__close{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: .3em;
}

/* .active{
    background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
} */

.todo__text--throuhg{
    text-decoration: line-through;
    opacity: .3;
}


/* ***********************************************
todo__drag
****************************************** */

.todo__drag--dark{
    padding: 2.5em 0;
}

/* .todo_drag-light{
    background-color: hsl(0, 0%, 98%);;
} */

.todo__drag--text{
    color: hsl(233, 14%, 35%);
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}


/* .hero__light{
    background-image: url(../assets/bg-desktop-light.jpg);
} */

/* .principal__light{
    background-color: hsl(236, 33%, 92%);
} */

/* .todo__light{
    background-color: hsl(0, 0%, 98%);
} */

/* .todo_drag-light{
   background-color: hsl(236, 33%, 92%);
} */