:root {
    --background: hsl(235, 21%, 11%);
    --background-list: hsl(235, 24%, 19%);
    --color-list: hsl(233, 14%, 35%);
    --text-info: hsl(236, 9%, 61%);
    --text-hover: hsl(234, 39%, 85%);
    --border-list: hsl(237, 14%, 26%);
    --input-color: hsl(234, 39%, 85%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  var(--background);
    color: hsl(220, 98%, 61%);
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}

.hero{
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 4em;
    position: relative;
    height: 290px;
    width: 100%;
}

.hero__dark{
   background-image: url(../../assets/bg-desktop-dark.jpg);
}

.hero__light{
    background-image: url(../assets/bg-desktop-light.jpg);
 }

.hero__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 600px;
    
}

.hero:before {
    content: "";
    width: 100%;
    min-height: 300px;
    min-height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 290px;
    min-height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    opacity: 0.01;
}

.hero__title{
    font-weight: 600;
    letter-spacing: 0.3cm;
    text-transform: uppercase;
    z-index: 1;
}

.icon__header{
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.hero__img{
    height: 25px;
    width: 25px;
    z-index: 1;
}

 /************************************************ 
    Estilos para el input 
***********************************************  */

.form{
    background-color: transparent;
    height: 30%;
    text-align: center;
}

form {
    background-color: transparent;
    border-radius: .3em;
    position: relative;
}

.btn{
    background-color:transparent;
    border: 1px solid var(--border-list);
    border-radius: 50%;
    cursor: pointer;
    height: 2.1em;
    width: 2.1em;
    margin-left: 2em;
    position: absolute;
    top: 4em;
    z-index: 1;
}

input {
    background-color: var(--background-list);
    border: none;
    border-radius: .3em;
    color: var(--input-color);
    font-size: 1em;
    font-weight: 300;
    height: 3.3em;
    margin-top: 2em;
    outline: none;
    padding: 0 4em;
    width: 33em;
    z-index: 1;
}

/* **************************************************
Estilos del main
************************************************** */

.principal{
    display: flex;
    justify-content: center;
    width: 100%;
}

.todo {
    background-color: var(--background-list);
    border-radius: .3em;
    position: absolute;
    top: 13em;
    margin-bottom: 5em;
}

.todo__container{
    background-color: var(--background-list);
    border-radius: .3em .3em 0 0;
    border-bottom: .1em solid var(--border-list);
    list-style: none;
    padding: 1.1em;
    width: 33em;
    height: 4em;
}

.todo__info{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;
}

a{
    text-decoration: none;
    color: var(--text-info);
}

.actions__item{
    margin-right: 1em;
}

.icono__check{
    background: transparent;
    border: none;
    border-radius: 50%;
    border: .01em solid var(--border-list);
    font-size: 1.5em;
    line-height: 0.2em;
    margin-left: .3em;
    padding: 0.3em;
    height: 1em;
    width: 1em;
}

.icono__check:hover{
    border: 1px solid hsl(280, 87%, 65%);
    cursor: pointer;
}

.check__fill{
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
} 

.text__through{
    text-decoration: line-through;
}

.image__none{
    display: none;
}
.image-block {
    display: block;
} 
/* .active{
    background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}  */

.todo__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}


.todo__item{
   display: flex;
   align-items: center;
}

.todo__text{
    margin-left: 1em;   
    color: var(--color-list);
    font-weight: 400;
}

.todo__text:hover{
    color: hsl(236, 33%, 92%);
    cursor: pointer;
}

.icono__close{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: .3em;
    display: none;
}

.todo__list:hover > button {
    display: block;
}

.todo__text--throuhg{
    text-decoration: line-through;
    opacity: .3;
}


/* ***********************************************
todo__drag
****************************************** */
.todo__drag--dark{
    background-color: var(--background);
    padding: 3em 0;
}


.todo__drag--text{
    color: var(--color-list);
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}


.hero__light{
    background-image: url(../assets/bg-desktop-light.jpg);
}

/* ***************** MEDIA QUERY***************** */

@media (max-width:700px){
    .hero{
        height: 265px;
    }

    .hero__container{
        max-width: 400px;
    }

    input {
        font-size: .9em;
        height: 3.3em;
        width: 25em;
    }

    .todo__container{
        width: 22.3em;
        height: 3em;
    }

    .todo__actions{
        display: none;
    }

    .todo__info {
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        font-size: 12px;
    }

    a{
        color: var(--color-list);
    }
    .todo__text {
        font-size: 16px;
    }

    .hero__title {
        font-size: 1.8em;
    }

    .btn {
        height: 1.7em;
        top: 3.5em;
        width: 1.7em;
    }

    .icono__check {
        font-size: 1.3em;
    }

}

@media(max-width: 650px){

    .hero__dark {
        background-image: url(/src/assets/bg-mobile-dark.jpg);
    }
}


@media (max-width: 450px) {

    .hero{
        height: 230px;
        padding-top: 3em;
    }

    .hero:before {
        min-height: 300px;
        min-height: 230px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .hero__title {
        font-size: 1.5em;
    }

    .hero__container {
        max-width: 300px;
    }

    .btn {
        height: 1.8em;
        top: 3.5em;
        width: 1.8em;
    }

    input {
        font-size: .9em;
        height: 3.3em;
        width: 20em;
    }

    .todo {
        top: 11em;
    }
    .todo__container{
        padding: .5em;
        width: 18em;
        height: 3em;
    }

    .todo__actions{
        display: none;
    }

    .todo__info {
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        font-size: 12px;
    }

    a{
        color: var(--color-list);
    }
    .todo__text {
        font-size: 12px;
    }

}